.App {
  text-align: center;
}

.table{
  background-color: white;
  color: black;
  padding: 10px;
  margin: 1em auto;
  
}

.adminRow>td, th{
  border:1px solid black;
  padding: 1em;
  margin:none;
  margin-top: 1em;
}

.adminRow:nth-child(even) {
  background-color: rgb(194, 194, 192);
}

th{
  background-color: rgb(194, 194, 192);

}


/* .table>td{
  border: 1px solid black;
} */

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.pizza-list {
	display: flex;
	margin: 80px auto;
	padding: 0;
	text-align: center;
	list-style: none;
}

.pizza-card {
  display: flex;
  width: 200px;
  height: fit-content;
  margin: 0.5rem;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  border-radius: 10px;
}

.pizza-card > p {
  margin: 0.2em;
  padding: 0.2em;
}

li img {
  width: 80%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 5px;
}

li h2 {
  font-size: 1.1em;
}

.pizza-card > button {
font-size: 1em;
}

.pizza-card > button:hover {
  background-color: rgb(166, 18, 2);
  border: 2px solid red;
  border-radius: 5px;
}

